.border{
    border: 2px black solid;
    padding: 3%;
}

body{
    max-width: 70%;
    text-align: center;
    align-items: center;
    margin: auto;
    text-align: justify;
    color-scheme: red;
    color: red;
    background: linear-gradient(rgb(255, 255, 255rgb(255, 0, 0)55)) fixed;
}

.border2{
    padding: 2%;
    color: red;
    border: 1px rgb(255, 0, 0) solid;
}

p{
    background-image: linear-gradient(white, black);
    border: 2px black solid;

}